<mat-toolbar color = "accent">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu = "matMenu">
    <button mat-menu-item (click)= "menuLink('/')">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)= "menuLink('/feed')">
      <mat-icon>feed</mat-icon>
      <span>Feed</span>
    </button>
    <button mat-menu-item (click)= "menuLink('/calculator')">
      <mat-icon>calc</mat-icon>
      <span>Calculator</span>
    </button>
  </mat-menu>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
